/clases/ConceptosBasicos/nbproject/private/
/clases/ConceptosBasicos/build/
diagramaBD.img
/tareas/TareaLibro/nbproject/private/
/tareas/TareaLIbro/nbproject/private/
/tareas/Libro/nbproject/private/
/tareas/Libro/build/
/tareas/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/build/
/clases/ReutilizacionCodigo2209/dist/
/tareas/TareaComposicion2209/nbproject/private/
/tareas/TareaComposicion2209/build/
/tareas/TareaComposicion2209/dist/
